#container {
    background-color: #079DD9;
    width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #D9981E;
}

header {
    font-size: 5em;
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}

header img {
    width: 400px;
    height: 400px;
    display: block;
    margin: 20px auto;
}

h1 {
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}

h2 {
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}

h3 {
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}

p {
    text-align: center;
}

.emphasis {
    font-style: italic;
    font-weight: bolder;
    background-color: #F2BF27;
}

.linkemphasis {
    background-color: #14F514;
    font-weight: bold;
}

.active {
    background-color: #D9981E;
    color: #BF1523;
}

.aboutimg {
    display: block;
    width: 300px;
    height: 400px;
}

nav {
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #BF1523;
    height: 60px;
    width: 325px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 60px;
    color: #D9981E;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin-top: 5px;
}

nav a:hover {
    background-color: #D9981E;
    color: #BF1523;
}

main {
    background-color: #BF1523;
    margin: 0 10px 0 10px;
    padding: 5px 5px 5px 5px;
}

main img {
    display: block;
    width: 75%;
    margin: 20px auto;
}

footer {
    text-align: center;
    padding: 20px 0 20px 0; 
    font-weight: bold;
}