/* GLOBAL STYLES */
body {
    background-image: url("../images/grass.jpg")
}

img {    
    max-width: 60%;
    display: block;
    margin: 10px auto;
    border: 4px solid #D9AFA0;
    border-radius: 10px;
}
    


/* MOBILE STYLES */

header {
    background-color: #D9C5C1;
    margin: 10px auto;
    border: 4px solid #A65746;
    border-radius: 10px;
    max-width: 90%;
    color: #362840;
    text-shadow: 2px 2px 5px #6E6373;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-family: 'Mochiy Pop P One', sans-serif;
}

h2, h3 {
    font-family: 'Mochiy Pop P One', sans-serif;
}

p, td, footer {
    font-family: 'Mukta', sans-serif;
    padding: 10px 10px;
}

nav {
    text-align: center;    
    background-color: #D9C5C1;
    padding: 10px 10px;
    margin: 0 15px;
    border-radius: 10px;
    border: 4px solid #A65746;
    max-width: 90%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    width: 75px; 
    color: #000;;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px 5px;
    border: 4px solid #A65746;
    background-color: #D9AFA0;
    border-radius: 10px;
}

nav a:hover {
    background-color: #A65746;
}

p {
    padding: 20px 20px;
}

section, aside, .col, footer {    
    max-width: 90%;
    border: 4px solid #A65746;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #D9AFA0;
    text-align: center;
}

.video_size {
    max-width: 90%;
    margin: 20px 20px;
}

.audio_size audio {
    max-width: 75%;    
}

iframe {
    margin: 10px auto;
    max-width: 90%; 
    display: block;
}

.gallery_img {
    display: none;
}

/* TABLET STYLES */

@media(min-width: 768px) {
    section, aside, .col, footer {    
        max-width: 75%;
    }

    nav {
        max-width: 73%;
        margin: 0 auto;
    }

    nav a {
        width: 150px;
    }

    header {
        max-width: 75%;
        font-size: 2em;
    }

    .video_size {
        max-width: 600px; 
        max-height: 400px;
        margin: 20px 20px;
    }

    iframe {
        max-width: 75%
    }

}

/* DESKTOP STYLES */

@media(min-width: 1024px) {
    #container {
        width: 75%;
        margin: 20px auto;
    }

    section, aside, footer {    
        max-width: 40%;
    }

    .col {
        margin: 20px 20px;
        max-width: 30%;
    }

    .col img {
        width: 300px;
    }
    
    .upper_flex {
        display: flex;
    }

    .lower_flex {
        display: flex;
    }

    nav {
        max-width: 83.5%;
    }

    nav a {
        max-width: 140px;
    }

    header {
        max-width: 85%;
        font-size: 2.8em;
    }

    footer {
        max-width: 75%;
        padding: 20px;
    }

    .video_size {
        max-width: 600px; 
        max-height: 400px;
        margin: 20px 20px;
    }
    
    .audio_size {
        max-width: 75%;    
    }

    .gallery_img {
        display: block;
        max-width: 85%;
        margin: 20px auto;        
    }

    table, tr, td {
        border: 4px solid #A65746;
        border-radius: 10px;
        margin: 20px; 
    }

    .hide_photos {
        display: none;
    }

}